.container {
  width: 700px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 80px;
}

.ensemble {
  display: flex;
  line-height: 40px;
  margin: 30px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-bottom: 40px;
  border-bottom: solid #eeeeee thin;
}

.heure {
  font-size: 24px;
  font-weight: bolder;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.colonne {
  margin-left: 20px;
}

.titre {
  font-size: 22px;
  font-weight: 700;
}

.troisderniers {
  display: flex;
  line-height: normal;
}

.duration,
.isUnseen,
.direct {
  margin-right: 20px;
}

.direct,
.isUnseen {
  color: #ff4178;
  font-weight: bold;
}

img {
  width: 70px;
  border-radius: 10px;
}
